body {
    background-image: url(image/bg[img].png);   
    margin: 0;
    height: 0; 
    font-family: sans-serif;
}
.logo {
    height: 86px;
    background: black;
    color: #fff;
    display: flex;
}
.logo-img {
    background-color: #a4d35a;
    width: 404px;
    height: 86px;
}
.logo-img img {
    float: right;
    margin: 30px 75px;
}
.logo li {
    list-style-type: none;
    display: inline-block;
    height: 86px;  
    padding-top: 30px; 
}
.logo li:nth-child(1) {
    margin-left: 50px;
}
.logo a {
    text-decoration: none;
    color: #fff; 
    font-family: inherit; 
    margin: 30px 40px;
    text-align: center;
}
.logo a:hover, .logo a:active, .logo a:visited {
    color: #fff;
} 
.logo li:hover {
    box-sizing: border-box;
    background: rgb(41, 41, 41);
    border-bottom: 5px solid #a4d35a;
}



.form_log_text {
    margin-top: 50px;
    text-align: center;
}
.form_log {
    box-sizing: border-box;
    background: #d7d0ff;
    border: 1px solid #a6a1c5;
    border-radius: 15px;
    width: 400px;
    height: 320px;
    margin: 280px auto;
}
.group_log_list {
    padding-top: 30px;
    padding: 15px 30px 10px;
}
.group_form_input {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    height: 30px;
    border: 1px solid #0f8fee;
    border-radius: 7px;
    padding-left: 10px;
}
.group_form_input::placeholder {
    font-style: italic;
}

.group_text {
    padding-bottom: 10px;
    display: inline-block;
    
}
.group_form_input:focus {
    outline: 2px solid #0f8dee;
    outline-offset: -2px;
    border-radius: 7px;
}